[submodule "api"]
	path = api
	url = https://github.com/GitHug/salary-exchange-api.git
	branch = master
[submodule "client"]
	path = client
	url = https://github.com/GitHug/salary-exchange-client.git
	branch = master
[submodule "functions"]
	path = functions
	url = https://github.com/GitHug/salary-exchange-functions.git
	branch = master
